pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

### Pandas generally provide two data structures for manipulating data, They are: 
### 1. Series 
### 2. DataFrame

# pandas Series object

### Pandas Series is a one-dimensional labeled array

In [2]:
import pandas as pd

In [3]:
s1 = pd.Series([11, 22, 33, 44, 55, 66, 77])

In [4]:
s1

0    11
1    22
2    33
3    44
4    55
5    66
6    77
dtype: int64

In [5]:
type(s1)

pandas.core.series.Series

### Changing Index

In [6]:
s2 = pd.Series([11, 22, 33, 44, 55, 66, 77], index = ['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [7]:
s2

a    11
b    22
c    33
d    44
e    55
f    66
g    77
dtype: int64

### Series Obbject from Dictionary

In [8]:
s3 = pd.Series({'a': 11, 'b': 22, 'c': 33 })

In [9]:
s3

a    11
b    22
c    33
dtype: int64

### Changing Index position

In [10]:
s4 = pd.Series({'a': 11, 'b': 22, 'c': 33 }, index = ['b', 'c', 'a', 'm'])

In [11]:
s4

b    22.0
c    33.0
a    11.0
m     NaN
dtype: float64

# extracting individual elements

### Extracting a single element

In [12]:
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
s1[3]

4

In [17]:
s1[8]

9

### Extracting a sequence of element

In [18]:
s1[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [19]:
s1[2:7]

2    3
3    4
4    5
5    6
6    7
dtype: int64

### Extracting element from back

In [20]:
s1[-3:]

6    7
7    8
8    9
dtype: int64

In [21]:
s1[:-3]

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

# basic math operations on series

### Adding a scalar value to series elements

In [22]:
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [23]:
s2 = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90])

In [30]:
add = s1 + 15
add

0    16
1    17
2    18
3    19
4    20
5    21
6    22
7    23
8    24
dtype: int64

### Adding two series objects

In [31]:
add2 = s1 + s2
add2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

### Subtraction

In [32]:
sub = s1 - 5
sub

0   -4
1   -3
2   -2
3   -1
4    0
5    1
6    2
7    3
8    4
dtype: int64

In [33]:
sub2 = s1 - s2
sub2

0    -9
1   -18
2   -27
3   -36
4   -45
5   -54
6   -63
7   -72
8   -81
dtype: int64

### Multiplication

In [34]:
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [35]:
m = s1 * 10
m

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [36]:
s1 * s2

0     10
1     40
2     90
3    160
4    250
5    360
6    490
7    640
8    810
dtype: int64

### division

In [37]:
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [38]:
s2

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [39]:
s2 / s1

0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
5    10.0
6    10.0
7    10.0
8    10.0
dtype: float64

In [40]:
s2 / 2

0     5.0
1    10.0
2    15.0
3    20.0
4    25.0
5    30.0
6    35.0
7    40.0
8    45.0
dtype: float64

# Pandas Dataframe

In [42]:
pdf = pd.DataFrame({"Name": ['imam', 'naima', 'samiul', 'apon'], "Mark": [55, 66, 77, 88]})

In [43]:
pdf

     Name  Mark
0    imam    55
1   naima    66
2  samiul    77
3    apon    88